/* This is the webpage background image  */
body {
    background-image: url("./Images /bodyBackgroundImg.png"); 
}

#back-btn {
    font-size: 8px; 
    background-color: #69686800
}


/* This is the background image */
#header-img{
    height: 600px;
    background-image: url("./Images /PR_AspenChamber_maroonbellsJeremySwanson.jpg");
    background-position: cover; 
}


/* This is the content in the container that is stlling on the header image  */
#FindYourTrailCardBody {
    background-color: #f3ececa6; 
    margin-top: 75px; 
}

#FindYourTrailText {
    font-family: 'Pacifico', cursive;
    font-size: 30px; 
    text-align: center; 
    color: rgb(71, 71, 71); 
}

#search-bar {
    margin: -20px -50px; 
    position:relative;
    left:100px; 
}


/* This is for the populated search results  */
#explore-btn {
    font-family: 'Pacifico', cursive;
    font-size: 20px; 
}


#searched-content-container {
    padding: 15px; 
    border: 1px solid lightgrey; 
    border-radius: 10px; 
    background-color: white; 
}

#searched-image-container {
    padding-right: 0px; 
    float: left;
}

#search-content-container{
    padding-left: 1px; 
    float: left;
}

#campnig-content {
    margin-left: 8px; 
    padding-right: 2px; 
}

#explore-btn {
    padding-left: 2px;
}







/* This is the footer  */
#footer {
    background-color: #8d89896c; 
    height: 40px; 
    margin-top: 15px; 
}

#copyright-text {
    font-size: 10px; 
    padding-left: 10px; 
    padding-top: 10px; 
    color: #696868
}
