/* This is the webpage background image  */
body {
    background-image: url("./Images /bodyBackgroundImg.png"); 
}


/* This is the background image */
#header-img{
    height: 225px;
    background-image: url("./Images /PR_AspenChamber_maroonbellsJeremySwanson.jpg");
    background-position: cover; 
}

/* This is for the search bar in the nav bar under the header image  */
.navBar{
    background-color: white; 
}

#searchBarAndBtn {
    float: left;
}




/* This is for the populated search results  */
#searched-content-container {
    padding: 15px; 
    border: 1px solid lightgrey; 
    border-radius: 10px; 
    background-color: white; 
}

#searched-image-container {
    padding-right: 0px; 
    float: left;
}

#search-content-container{
    padding-left: 1px; 
    float: left;
}
